//#region Colors

// general colors
$white: #ffffff;
$gray-100: #fafcfe;
$gray-200: #f6f8fd;
$gray-300: #f4f7fe;
$gray-400: #e9edf7;
$gray-500: #e0e5f2;
$gray-600: #a3aed0;
$gray-700: #707eae;
$gray-800: #47548c;
$gray-900: #2b3674;
$black: #000000;
$pink: #bf4080;
$dark: #001233;

// theme colors
$primary: $pink;
$secondary: $dark;

//#endregion