//#region Fonts

$font-family-base: 'montserrat', sans-serif;

$font-size-base: 1rem;
$font-size-xxs: $font-size-base * 0.5;
$font-size-xs: $font-size-base * 0.7;
$font-size-sm: $font-size-base * 0.875;
$font-size-lg: $font-size-base * 1.25;
$font-size-xl: $font-size-base * 1.875;
$font-size-xxl: $font-size-base * 2.25;

//#endregion

//#region Space

$spacer: 1rem;

//#endregion

//#region Transitions

$transition: all 0.3s ease-in-out;
$transition-sm: all 0.175s ease-in-out;
$transition-lg: all 0.5s ease-in-out;

//#endregion

//#region Grid sizes

$grid-xs: 0;
$grid-sm: 576px;
$grid-md: 768px;
$grid-lg: 992px;
$grid-xl: 1200px;
$grid-xxl: 1400px;

$grid-breakpoints: (
	xs: $grid-xs,
	sm: $grid-sm,
	md: $grid-md,
	lg: $grid-lg,
	xl: $grid-xl,
	xxl: $grid-xxl,
);

//#endregion

//#region Border

$border-width: 1px;
$border-color: $gray-200;

//#endregion

//#region Border radius

$border-radius: 0.25rem;
$border-radius-sm: 0.2rem;
$border-radius-lg: 0.35rem;
$border-radius-xl: 0.5rem;
$border-radius-pill: 50rem;
$border-radius-round: 50%;

//#endregion

//#region Shadows

$shadow: 0 10px 15px -3px rgba(0, 0, 0, .1),
    0 4px 6px -4px rgba(0, 0, 0, .1);
$shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, .05);

//#endregion

//#region Body

$body-color: $dark;
$body-bg: $gray-300;
$body-font-family: $font-family-base;

//#endregion

//#region Header

$header-bg: $primary;

// header curve
$header-curve-fill: $primary;

//#endregion

//#region Header navbar

$header-navbar-padding: $spacer 0;

// header navbar brand
$header-navbar-brand-color: $white;

// header navbar menu
$header-navbar-menu-gap: $spacer * 1.5;

// header navbar menu item
$header-navbar-menu-item-color: $secondary;
$header-navbar-menu-item-hover-color: $white;

//#endregion

//#region Header intro

$header-intro-padding: $spacer * 4 0;

// header intro text title
$header-intro-text-title-color: $white;
$header-intro-text-title-font-size: $font-size-xxl;

// header intro text subtitle
$header-intro-text-subtitle-margin-top: $spacer * 1.75;
$header-intro-text-subtitle-line-height: 1.6;

//#endregion

//#region Main

$main-padding-top: $spacer * 3.5;

//#endregion