//#region General variables

//#region Fonts

$font-family-base: 'montserrat', sans-serif;

$font-size-base: 1rem;
$font-size-xxs: $font-size-base * 0.5;
$font-size-xs: $font-size-base * 0.7;
$font-size-sm: $font-size-base * 0.875;
$font-size-lg: $font-size-base * 1.25;
$font-size-xl: $font-size-base * 1.875;
$font-size-xxl: $font-size-base * 2.25;

//#endregion

//#region Space

$spacer: 1rem;

//#endregion

//#region Grid sizes

$grid-xs: 0;
$grid-sm: 576px;
$grid-md: 768px;
$grid-lg: 992px;
$grid-xl: 1200px;
$grid-xxl: 1400px;

$grid-breakpoints: (
	xs: $grid-xs,
	sm: $grid-sm,
	md: $grid-md,
	lg: $grid-lg,
	xl: $grid-xl,
	xxl: $grid-xxl,
);

//#endregion

//#region Border

$border-width: 1px;
$border-color: $gray-200;
$border-style: solid;

//#endregion

//#region Border radius

$border-radius: 0.25rem;
$border-radius-sm: 0.2rem;
$border-radius-lg: 0.35rem;
$border-radius-xl: 0.5rem;
$border-radius-pill: 50rem;
$border-radius-round: 50%;

//#endregion

//#region Shadows

$shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
$shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

//#endregion

//#endregion

//#region Elements variables

//#region Body

$body-color: $dark;
$body-bg: $gray-300;
$body-font-family: $font-family-base;

//#endregion

//#endregion

//#region Objects variables

//#region Header

$header-bg: $primary;

// header curve
$header-curve-fill: $primary;

//#endregion

//#region Header navbar

$header-navbar-padding: $spacer 0;

// header navbar brand
$header-navbar-brand-color: $white;

// header navbar menu
$header-navbar-menu-gap: $spacer * 1.5;

// header navbar menu item
$header-navbar-menu-item-color: $secondary;
$header-navbar-menu-item-hover-color: $white;

//#endregion

//#region Header intro

$header-intro-padding: $spacer * 4 0;

// header intro text title
$header-intro-text-title-color: $white;
$header-intro-text-title-font-size: $font-size-xxl;

// header intro text subtitle
$header-intro-text-subtitle-margin-top: $spacer * 1.75;
$header-intro-text-subtitle-line-height: 1.6;

//#endregion

//#region Main

$main-padding-top: $spacer * 3.5;

//#endregion

//#region Why use

// why use title
$why-use-title-font-size: $font-size-xl;
$why-use-title-margin-bottom: $spacer;

//#endregion

//#endregion

//#region Components variables

//#region Box

$box-bg: $white;
$box-padding: $spacer $spacer * 1.5;
$box-boxshadow: $shadow;
$box-radius: $border-radius-xl;

// box title
$box-title-font-size: $font-size-lg;
$box-title-color: $primary;
$box-title-margin-bottom: $spacer;

//#endregion

//#region Card

$card-padding: $spacer $spacer;
$card-border-width: $border-width;
$card-border-style: $border-style;
$card-border-color: $gray-500;
$card-radius: $border-radius-xl;

// card header
$card-header-padding: $spacer $spacer * 0.5;

// card header icon
$card-header-icon-width: 3.5rem;
$card-header-icon-height: $card-header-icon-width;
$card-header-icon-color: $primary;
$card-header-icon-margin-bottom: $spacer * 0.5;

// card header title
$card-header-title-font-size: $font-size-lg;

//#endregion

$heading-font-sizes:(
	1: 2.25rem,
	2: 2rem,
	3: 1.75rem,
	4: 1.5rem,
	5: 1rem,
	6: 0.75rem,
);
$heading-line-height: 1.2;
$heading-margin-bottom: $spacer * 0.5;

//#endregion

//#region Utilities variables

//#region Para

$para-font-size: $font-size-base;
$para-font-size-sm: $font-size-sm;
$para-line-height: 1.6;
$para-white-color: $white;

//#endregion

//#region Transitions

$transition: all 0.3s ease-in-out;
$transition-sm: all 0.175s ease-in-out;
$transition-lg: all 0.5s ease-in-out;

//#endregion

//#endregion