%para{
    font-size: $para-font-size;
    line-height: $para-line-height;
}

%para-sm {
    font-size: $para-font-size-sm;
    line-height: $para-line-height;
}

%para-white{
    @extend %para;
    color: $para-white-color;
}

%text-center {
    text-align: center;
}

%text-left {
    text-align: left;
}

%text-right {
    text-align: right;
}

%text-justify {
    text-align: justify;
}