.header {
	&-navbar {
		padding: $header-navbar-padding;

		&-brand {
			color: $header-navbar-brand-color;
		}

		&-menu {
			@include flex();
			gap: $header-navbar-menu-gap;

			&-item {
				a {
					color: $header-navbar-menu-item-color;
					@extend %trans;

					&:hover {
						color: $header-navbar-menu-item-hover-color;
					}
				}
			}
		}
	}
}
